html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: #f3f7f6;
    color: #000;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__container {
    max-width: 1224px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__wrapper {
    border-bottom: 1px solid #ededed;
}
.header__top {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__mobile {
    display: none;
}
.menu__btn {
    display: none;
}
.header__worktime {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__worktime::before {
    content: url("../images/time-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__address {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__address::before {
    content: url("../images/navigation-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__phone-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed #000;
    margin-right: 21px;
    transition: all 0.3s;
    padding: 3px 0;
}
.header__phone-link:hover {
    border-bottom: 1px dashed transparent;
}
.header__phone-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__phone-number::before {
    content: url("../images/phone-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__bottom {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__list-item + .menu__list-item {
    margin-left: 30px;
}
.menu__list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.menu__list-link:hover {
    color: #67bc9e;
}
.header__btn {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 19px 40px;
    background-color: #f39035;
    transition: all 0.3s;
}
.header__btn:hover {
    background-color: #67bc9e;
    color: #fff;
}
.modal__inner {
    width: 1004px;
    height: 591px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.modal__content {
    position: relative;
    left: 50%;
    transform: translateX(-120%);
}
.modal__title {
    margin-top: 90px;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.modal__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 38px;
}
.modal__form > .error-message {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 10px;
}
.modal__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__input {
    padding: 27px;
    margin-bottom: 22px;
    width: 360px;
    height: 53px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(103, 188, 158, 0.9);
    border-radius: 40px;
}
.modal__input:focus {
    border: 1px solid #f39035;
}
.modal__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.label-checkbox {
    margin-left: 40px;
    padding-bottom: 34px;
}
.modal__btn {
    width: 360px;
    height: 53px;
    outline: none;
    background-color: #67bc9e;
    border-radius: 40px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}
.modal__btn:hover {
    background-color: #f39035;
}
.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #67bc9e;
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.modal__close-btn:hover {
    background-color: #f39035;
}
.top {
    background-color: #fff;
    margin-bottom: 50px;
}
.top__slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 350px;
}
.top__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.top__subtitle {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 19px;
}
.top__subtitle > span {
    font-weight: 900;
    font-size: 41px;
    line-height: 49px;
    text-transform: uppercase;
    color: #f39035;
}
.top__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 59px;
}
.top__title-2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.top__subtitle-2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #f39035;
    padding-bottom: 19px;
}
.top__text-2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 59px;
}
.top__title-3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.top__subtitle-3 {
    font-weight: 900;
    font-size: 41px;
    line-height: 49px;
    text-transform: uppercase;
    color: #f39035;
    padding-bottom: 19px;
}
.top__text-3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 59px;
}
.top__title-4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    padding-bottom: 77px;
}
.top__title-4 span {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #f39035;
}
.top__btn {
    padding: 19px 64px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 60px;
    transition: all 0.3s;
}
.top__btn:hover {
    border: 1px solid transparent;
    color: #fff;
    background-color: #f39035;
}

.slider__arrow {
    padding: 13px;
    background-color: #67bc9e;
}
.uk-dotnav.slider-dotnav-top {
    margin-left: 350px;
    margin-bottom: 50px;
}
.uk-dotnav > * > * {
    background-color: #67bc9e;
    border: none;
}
.uk-dotnav > * > *:hover {
    background-color: #67bc9e;
}
.uk-dotnav > .uk-active > * {
    width: 21px;
    background: #67bc9e;
    border-radius: 10px;
    transition: all 0.3s;
}

.patients__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.patients__list > * {
    display: flex;
    justify-content: center;
}

.services {
    margin-top: 49px;
    background-color: #fff;
}
.services__title {
    padding: 50px 50px;
    text-align: center;
}
.services__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.services__item-column:nth-child(3) {
    transform: translateY(-12px);
}
.services__item img {
    padding-bottom: 33px;
}
.services__item-title {
    font-size: 18px;
    line-height: 22px;
    color: #f39035;
    padding-bottom: 21px;
}
.services__list {
    margin-bottom: 35px;
}

.services__list-link {
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    transition: all 0.2s;
}
.services__list-link:hover {
    color: #67bc9e;
}
.video_wrapper {
    display: flex;
    justify-content: space-between;
}
.video__info {
    max-width: 460px;
    margin-top: 158px;
}
.video__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 34px;
}
.video__title span {
    color: #67bc9e;
}
.video__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}
.video-popup {
    margin-top: 70px;
}
.video-popup-link {
    position: relative;
}
.video-popup-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    transition: all 0.3s;
}
.video-popup-play:hover {
    opacity: 1;
}
.appointment {
    background-color: #fff;
}
.appointment__inner {
    background-image: url("../images/appointment-bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.appointment__title {
    margin-top: 62px;
    padding-bottom: 47px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.error-message {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.appointment__inputs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.appointment__input,
.appointment__btn {
    width: 360px;
}
.appointment__input {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    padding: 18px 27px;
    outline: none;
    border: 1px solid rgba(103, 188, 158, 0.9);
    border-radius: 40px;
}

.appointment__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
}
.appointment__input:focus {
    border: 1px solid #f39035;
}
.appointment__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border: none;
    outline: none;
    color: #fff;
    background: #67bc9e;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
}
.appointment__btn:hover {
    background-color: #f39035;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.check-style {
    position: absolute;
    width: 27px;
    height: 25px;
    border: 1px solid #67bc9e;
    background-color: #fff;
    border-radius: 5px;
    margin-left: -370px;
}
.checkbox:checked + .check-style {
    background-image: url("../images/check-on.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.label-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 82px;
}
.reviews__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 49px;
}
.reviews__list > * {
    display: flex;
    justify-content: center;
}
.reviews__slider-item {
    background-color: #f9f9f9;
}
.reviews__popup {
    position: relative;
}
.reviews__slider-ico {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    transition: all 0.3s;
}
.reviews__slider-ico:hover {
    opacity: 1;
}
.reviews__slider-content {
    padding: 26px 19px 31px;
}
.reviews__slider-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
}
.reviews__slider-info {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.interior {
    padding-top: 70px;
}
.interior__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
}
.interior__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 51px;
}
.interior__slider {
    margin-bottom: 70px;
}
.interior__list > * {
    display: flex;
    justify-content: center;
}
.slider__arrow-left--interior {
    margin-left: 300px;
    margin-top: 100px;
}
.slider__arrow-right--interior {
    margin-right: 300px;
    margin-top: 100px;
}
.slider-dotnav-interior {
    top: 120px;
    right: 300px;
}
.interior__slider-item a {
    display: block;
    position: relative;
    outline: none;
    width: 360px;
}
.interior__slider-item a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.6s;
}
.interior__slider-item a:hover:after {
    opacity: 1;
}

.equipments {
    padding-top: 70px;
    background-color: #fff;
}
.equipments__title {
    max-width: 460px;
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
}
.equipments__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 52px;
}
.equipments__items {
    margin-bottom: 50px;
    background-color: #f3f7f6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
}
.equipments__item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipments__item-img {
    width: 100%;
    height: auto;
}
.equipments__item-info {
    height: 62px;
    display: flex;
    align-items: center;
}
.equipments__item-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.doctor__inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.doctor__content {
    margin-top: 118px;
    max-width: 555px;
    margin-left: 380px;
}
.doctor__title {
    margin-bottom: 26px;
    padding-left: 98px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    text-transform: uppercase;
    color: #67bc9e;
}
.doctor__title::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 5px;
    background-color: #67bc9e;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.doctor__text {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}
.doctor__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
.doctor__img {
    padding-top: 34px;
    background-image: url("../images/doctor-line-img.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.professionals {
    padding-top: 50px;
}
.professionals__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.professionals__slider {
    margin-bottom: 100px;
}
.professionals__slider-item {
    padding-bottom: 20px;
    transition: transform 0.4s;
}
.professionals__slider-item:hover {
    transform: translateY(20px);
}
.professionals__slider-img {
    margin-bottom: 23px;
}
.professionals__slider-name {
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.professionals__slider-info {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.slider__arrow-professionals {
    margin-top: -60px;
}

.advantages {
    background-color: #67bc9e;
    position: relative;
    z-index: 1;
}
.advantages__block-1 {
    position: absolute;
    width: 750px;
    height: 125px;
    bottom: 117px;
    left: 0;
    background: #6cc0a2;
    z-index: -1;
}
.advantages__block-2 {
    position: absolute;
    width: 1500px;
    height: 157px;
    top: 0;
    right: 0;
    background: #6cc0a2;
    z-index: -1;
}
.advantages__block-3 {
    position: absolute;
    width: 818px;
    height: 189px;
    bottom: 0;
    right: 0;
    background: #6cc0a2;
    z-index: -1;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.advantages__left {
    padding-right: 67px;
    transform: translateY(-26px);
}
.advantages__img {
    margin-bottom: 67px;
}
.advantages__title {
    max-width: 350px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}
.advantages__right {
    margin-top: 43px;
    margin-bottom: 40px;
    width: 60%;
    padding-left: 26px;
    border-left: 1px solid #fff;
}
.advantages__item {
    display: flex;
}
.advantages__item + .advantages__item {
    margin-top: 30px;
}
.advantages__box {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages__box-ico {
    margin-bottom: 14px;
}
.advantages__box-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}
.advantages__text {
    margin-left: 85px;
    width: 65%;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}

.appointment-bottom {
    background-color: #fff;
    height: 300px;
}
.appointment-bottom__title {
    padding: 50px 0 47px;
    text-align: center;
}

.tour {
    padding-top: 50px;
}
.tour__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.tour__img {
    width: 100%;
}

.footer {
    background-color: #67bc9e;
    padding-top: 50px;
}
.footer__inner {
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
}
.footer__logo-img {
    margin-bottom: 30px;
}
.footer__text {
    max-width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}
.footer__list {
    margin-bottom: 50px;
}
.footer__list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    transition: all 0.3s;
}
.footer__list-link:hover {
    color: #beecdc;
}
.footer__item--contacts {
    display: flex;
    flex-direction: column;
}
.footer__worktime,
.footer__address,
.footer__instagram,
.footer__email {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    position: relative;
    padding-left: 25px;
    transition: all 0.3s;
}
.footer__worktime::before {
    content: url("../images/footer-time-ico.svg");
    position: absolute;
    top: 2px;
    left: 0;
}
.footer__address::before {
    content: url("../images/footer-navigation-ico.svg");
    position: absolute;
    top: 2px;
    left: 0;
}
.footer__instagram::before {
    content: url("../images/footer-instagram-ico.svg");
    position: absolute;
    top: 2px;
    left: 0;
}
.footer__instagram:hover {
    color: #beecdc;
}
.footer__email::before {
    content: url("../images/footer-mail-ico.svg");
    position: absolute;
    top: 2px;
    left: 0;
}
.footer__email:hover {
    color: #beecdc;
}
.footer__phone {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    padding-left: 25px;
    transition: all 0.3s;
}
.footer__phone::before {
    content: url("../images/footer-phone-ico.svg");
    position: absolute;
    top: 2px;
    left: 0;
}
.footer__phone:hover {
    color: #beecdc;
}
.footer__phone-link {
    max-width: 114px;
    padding-bottom: 3px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px dashed #fff;
    transition: all 0.3s;
}
.footer__phone-link:hover {
    color: #fff;
    border-bottom: 1px dashed transparent;
}
.footer__credit {
    margin-bottom: 26px;
    max-width: 231px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
.footer__credit-images {
    max-width: 231px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1660px) {
    .doctor__content {
        margin-left: 10px;
    }
}
@media (max-width: 1600px) {
    .top__slider-item {
        padding-left: 250px;
    }
    .uk-dotnav.slider-dotnav-top {
        margin-left: 250px;
    }
}
@media (max-width: 1500px) {
    .interior__list > * {
        width: 33%;
    }
    .slider__arrow-left--interior,
    .slider__arrow-right--interior {
        display: none;
    }
}
@media (max-width: 1430px) {
    .top__slider-item {
        padding-left: 180px;
    }
    .uk-dotnav.slider-dotnav-top {
        margin-left: 180px;
    }
}
@media (max-width: 1340px) {
    .top__img {
        display: none;
    }
    .top__slider-item {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        justify-content: center;
    }
    .uk-dotnav.slider-dotnav-top {
        display: none;
    }
}
@media (max-width: 1240px) {
    .equipments {
        padding-top: 20px;
    }
    .equipments__title {
        margin-top: 0;
        font-size: 24px;
        line-height: 1.2;
    }
    .equipments__items {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1170px) {
    .doctor__content {
       margin-top: 40px;
    }
    .doctor__text {
        font-size: 18px;
    }
    .doctor__img {
        width: 50%;
    }
}
@media (max-width: 1130px) {
    .header__bottom {
        justify-content: center;
    }
    .header__btn {
        display: none;
    }
    .reviews__list > * {
        width: 50%;
    }
    .interior {
        padding-top: 20px;
    }
    .interior__list > * {
        width: 50%;
    }
    .slider-dotnav-interior {
        display: none;
    }
}
@media (max-width: 1100px) {
    .patients__list > * {
        width: 33%;
    }
    .appointment__inputs {
        flex-direction: column;
        align-items: center;
    }
    .name,
    .phone {
        margin-bottom: 10px;
    }
    .appointment__btn {
        height: 53px;
    }
}
@media (max-width: 1050px) {
    .header__phone-link {
        display: none;
    }
    .equipments__items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1000px) {
    .services__title {
        padding: 30px 0;
        font-size: 26px;
    }
    .services__wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
    .services__item-column:nth-child(4) {
        margin-top: -110px;
    }
    .video_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video__info {
        margin-top: 30px;
        max-width: 900px;
        text-align: center;
    }
    .video__title {
        padding-bottom: 0px;
    }
    .video-popup {
        margin-top: 10px;
    }
}
@media (max-width: 960px) {
    .header__worktime {
        display: none;
    }
    .header__bottom {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateX(-960px);
        transition: all 0.1s;
        z-index: 10;
    }
    .header__bottom.header__bottom--active {
        transform: translateX(0);
    }
    .menu__list {
        display: block;
        background-color: #f3f7f6;
        text-align: center;
        transition: all 0.1s;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__list-link {
        padding: 15px 0;
        display: block;
        border-bottom: 1px solid #ededed;
    }
    .menu__btn {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 24px;
        border: none;
        outline: none;
        border-top: 2px solid #67bc9e;
        border-bottom: 2px solid #67bc9e;
        background-color: transparent;
        position: relative;
        order: 1;
    }
    .menu__btn::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #67bc9e;
        left: 0;
        top: 9px;
    }
}
@media (max-width: 930px) {
    .doctor__inner {
        flex-direction: column;
        align-items: center;
    }
    .doctor__content {
        order: 1;
    }
    .doctor__img {
        margin-left: auto;
        width: 70%;
    }
}
@media (max-width: 900px) {
    .slider__arrow {
        display: none;
    }
    .top {
        margin-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .equipments__title {
        font-size: 22px;
    }
    .equipments__text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .equipments__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .equipments__item {
        transform: scale(0.9);
    }
    .equipments__item-name {
        font-size: 18px;
    }
}
@media (max-width: 750px) {
    .patients__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .patients__list > * {
        width: 50%;
    }
    .reviews {
        padding-bottom: 30px;
    }
    .reviews__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .reviews__list > * {
        width: 100%;
    }
    .reviews__slider-ico {
        width: 14%;
    }
}
@media (max-width: 730px) {
    .interior__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .interior__list > * {
        width: 100%;
    }
}
@media (max-width: 710px) {
    .logo__img {
        display: none;
    }
    .logo__mobile {
        display: block;
    }
    .header__address {
        display: none;
    }
}
@media (max-width: 600px) {
    .services__title {
        padding: 20px 0;
        font-size: 26px;
    }
    .services__item-column {
        max-width: 320px;
    }
    .services__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services__item-column:nth-child(4) {
        margin-top: -20px;
    }
    .video__info {
        margin-top: 20px;
    }
    .video__title {
        font-size: 26px;
    }
    .video__text {
        font-size: 18px;
    }
    .doctor__text {
        font-size: 18px;
        line-height: 1.2;
    }
    .doctor__name {
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    .patients__title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .patients__list > * {
        width: 100%;
    }

    .appointment__title {
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 26px;
    }
}
@media (max-width: 500px) {
    .top__content {
        transform: scale(0.9);
    }
    .equipments__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .equipments__item {
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 440px) {
    .appointment__input {
        padding: 14px 20px;
        max-width: 320px;
    }
    .appointment__btn {
        height: 48px;
        max-width: 320px;
    }
    .label-checkbox {
        text-align: center;
        max-width: 320px;
    }
    .check-style {
        margin-left: -325px;
    }
    .interior__title {
        font-size: 22px;
        line-height: 1.2;
    }
    .interior__text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .interior__slider {
        margin-bottom: 30px;
    }
    .interior__list > * {
        transform: scale(0.8);
    }
}
@media (max-width: 400px) {
    .top__slider-item {
        padding-top: 0;
        padding-bottom: 0;
    }
    .top__content {
        transform: scale(0.8);
    }
    .video__title {
        font-size: 22px;
    }
    .video__text {
        font-size: 14px;
    }
    .video-popup-play {
        width: 14%;
    }
}
@media (max-width: 332px) {
    .check-style {
        margin-left: -250px;
    }
}
