html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: #f3f7f6;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    max-width: 1242px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.logo-mobile {
    display: none;
}
.header__worktime {
    position: relative;
    padding-left: 24px;
}
.header__worktime::before {
    content: url("../images/time-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__address {
    position: relative;
    padding-left: 24px;
}
.header__address::before {
    content: url("../images/navigation-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__phone {
    display: flex;
    align-items: center;
}
.header__phone-link {
    padding: 3px 0;
    margin-right: 21px;
    border-bottom: 1px dashed #000000;
    transition: all 0.3s;
}
.header__phone-link:hover {
    border-bottom: 1px dashed transparent;
}
.header__phone-number {
    font-size: 20px;
    position: relative;
    padding-left: 24px;
}
.header__phone-number::before {
    content: url("../images/phone-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__wrapper {
    border-top: 1px solid#EDEDED;
}
.header__bottom {
    margin: 0 auto;
    max-width: 1242px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__btn {
    display: none;
}
.menu__list {
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
}
.menu__item + .menu__item {
    margin-left: 28px;
}
.menu__list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
    transition: all 0.2s;
}
.menu__list-link:hover {
    color: #67bc9e;
}
.header__btn {
    padding: 19px 40px;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    background: #f39035;
    cursor: pointer;
    transition: all 0.3s;
}
.header__btn:hover {
    background: #67bc9e;
    color: #fff;
}
.modal__inner {
    width: 1004px;
    height: 591px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.modal__content {
    position: relative;
    left: 50%;
    transform: translateX(-120%);
}
.modal__title {
    margin-top: 90px;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.modal__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 38px;
}
.modal__form > .error-message {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 10px;
}
.modal__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__input {
    padding: 27px;
    margin-bottom: 22px;
    width: 360px;
    height: 53px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(103, 188, 158, 0.9);
    border-radius: 40px;
}
.modal__input:focus {
    border: 1px solid #f39035;
}
.modal__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.label-checkbox {
    margin-left: 40px;
    padding-bottom: 34px;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.check-style {
    position: absolute;
    width: 27px;
    height: 25px;
    border: 1px solid #67bc9e;
    background-color: #fff;
    border-radius: 5px;
    margin-left: -370px;
}
.checkbox:checked + .check-style {
    background-image: url("../images/check-on.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.label-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__btn {
    width: 360px;
    height: 53px;
    outline: none;
    background-color: #67bc9e;
    border-radius: 40px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}
.modal__btn:hover {
    background-color: #f39035;
}
.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #67bc9e;
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.modal__close-btn:hover {
    background-color: #f39035;
}
.modal__form > .error-message {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 10px;
}
.error-message {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.top {
    background-image: url("../images/udalenie-zubov/top-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 62, 48, 0.6);
}
.top__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}
.top__title span {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}
.reviews__title {
    margin-top: 70px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.reviews__text {
    margin-top: 0;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}
.reviews__slider {
    margin-bottom: 70px;
}
.reviews__slider-item {
    max-width: 360px;
    max-height: 347px;
    position: relative;
}
.reviews__slider-ico {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 29px;
    margin-right: 29px;
}
.slider__arrow {
    background-color: #67bc9e;
    padding: 12px;
    transition: all 0.3s;
}
.slider__arrow:hover {
    background: rgba(103, 188, 158, 0.9);
}
.reviews__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    transition: all 0.3s;
}
.reviews__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.recommendation {
    background-color: #fff;
}
.recommendation__inner {
    display: flex;
    justify-content: space-between;
}
.recommendation__content {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.recommendation__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
}
.recommendation__title span {
    color: #67bc9e;
}
.recommendation__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 32px;
}
.recommendation__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 24px;
    padding-left: 18px;
    position: relative;
}
.recommendation__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.recommendation__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.how__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 61px;
    transition: all 0.3s;
}
.how__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.how__inner {
    display: flex;
    justify-content: space-between;
}
.how__content {
    max-width: 555px;
}
.how__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 42px;
}
.how__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 28px;
}
.how__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 18px;
    position: relative;
}
.how__list-item span {
    font-weight: bold;
}
.how__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.how__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
}
.whattodo__content {
    max-width: 500px;
}
.whattodo__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 45px;
}
.whattodo__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 28px;
}
.whattodo__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 18px;
    position: relative;
}
.whattodo__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.whattodo__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 47px;
}
.whattodo__btn {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    transition: all 0.3s;
}
.whattodo__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.footer {
    height: 316px;
    background-color: #67bc9e;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__item {
    margin-top: 50px;
}
.footer__info {
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;
    max-width: 200px;
}
.footer__nav-link {
    font-size: 14px;
    line-height: 28px;
    transition: all 0.3s;
}
.footer__nav-link:hover {
    color: #beecdc;
}
.footer__worktime,
.footer__address,
.footer__instagram,
.footer__email,
.footer__phone,
.footer__phone-link {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    padding-left: 24px;
    transition: all 0.3s;
}
.footer__phone-link {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 0;
    margin-left: 24px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #fff;
}
.footer__email:hover {
    color: #beecdc;
}
.footer__phone-link:hover {
    border-bottom: 1px dashed transparent;
}
.footer__phone {
    font-size: 20px;
    line-height: 24px;
}
.footer__worktime::before {
    content: url("../images/footer-time-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__address::before {
    content: url("../images/footer-navigation-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__instagram::before {
    content: url("../images/footer-instagram-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__email::before {
    content: url("../images/footer-mail-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__phone::before {
    content: url("../images/footer-phone-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.footer__credit {
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
}
.footer__credit-images img:nth-child(4) {
    transform: translateY(1px);
}
