html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: #f3f7f6;
    color: #000;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__container {
    max-width: 1224px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__wrapper {
    border-bottom: 1px solid #ededed;
}
.header__top {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__mobile {
    display: none;
}
.menu__btn {
    display: none;
}
.header__worktime {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__worktime::before {
    content: url("../images/time-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__address {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__address::before {
    content: url("../images/navigation-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__phone-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed #000;
    margin-right: 21px;
    transition: all 0.3s;
    padding: 3px 0;
}
.header__phone-link:hover {
    border-bottom: 1px dashed transparent;
}
.header__phone-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 24px;
    position: relative;
}
.header__phone-number::before {
    content: url("../images/phone-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.header__bottom {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__list-item + .menu__list-item {
    margin-left: 30px;
}
.menu__list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.menu__list-link:hover {
    color: #67bc9e;
}
.header__btn {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 19px 40px;
    background-color: #f39035;
    transition: all 0.3s;
}
.header__btn:hover {
    background-color: #67bc9e;
    color: #fff;
}

.modal__inner {
    width: 1004px;
    height: 591px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.modal__content {
    position: relative;
    left: 50%;
    transform: translateX(-120%);
}
.modal__title {
    margin-top: 90px;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.modal__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 38px;
}
.modal__form > .error-message {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 10px;
}
.modal__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__input {
    padding: 27px;
    margin-bottom: 22px;
    width: 360px;
    height: 53px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(103, 188, 158, 0.9);
    border-radius: 40px;
}
.modal__input:focus {
    border: 1px solid #f39035;
}
.modal__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.label-checkbox {
    margin-left: 40px;
    padding-bottom: 34px;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.check-style {
    position: absolute;
    width: 27px;
    height: 25px;
    border: 1px solid #67bc9e;
    background-color: #fff;
    border-radius: 5px;
    margin-left: -370px;
}
.checkbox:checked + .check-style {
    background-image: url("../images/check-on.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.label-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__btn {
    width: 360px;
    height: 53px;
    outline: none;
    background-color: #67bc9e;
    border-radius: 40px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}
.modal__btn:hover {
    background-color: #f39035;
}
.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #67bc9e;
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.modal__close-btn:hover {
    background-color: #f39035;
}
.modal__form > .error-message {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 10px;
}
.error-message {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.top {
    background-image: url("../images/udalenie-zubov/top-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 62, 48, 0.6);
}
.top__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}
.top__title span {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}
.reviews__title {
    margin-top: 70px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.reviews__text {
    margin-top: 0;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}
.reviews__slider {
    margin-bottom: 70px;
}
.reviews__slider-item {
    max-width: 360px;
    max-height: 347px;
    position: relative;
}
.reviews__slider-ico {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 29px;
    margin-right: 29px;
}
.slider__arrow {
    background-color: #67bc9e;
    padding: 12px;
    transition: all 0.3s;
}
.slider__arrow:hover {
    background: rgba(103, 188, 158, 0.9);
}
.reviews__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    transition: all 0.3s;
}
.reviews__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.recommendation {
    background-color: #fff;
}
.recommendation__inner {
    display: flex;
    justify-content: space-between;
}
.recommendation__content {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.recommendation__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
}
.recommendation__title span {
    color: #67bc9e;
}
.recommendation__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 32px;
}
.recommendation__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 24px;
    padding-left: 18px;
    position: relative;
}
.recommendation__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.recommendation__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.how__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 61px;
    transition: all 0.3s;
}
.how__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.how__inner {
    display: flex;
    justify-content: space-between;
}
.how__content {
    max-width: 555px;
}
.how__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 42px;
}
.how__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 28px;
}
.how__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 18px;
    position: relative;
}
.how__list-item span {
    font-weight: bold;
}
.how__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.how__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
}
.whattodo__content {
    max-width: 500px;
}
.whattodo__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 45px;
}
.whattodo__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 28px;
}
.whattodo__list-item {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 18px;
    position: relative;
}
.whattodo__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 3px;
    background-color: #67bc9e;
}
.whattodo__text-bottom {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 47px;
}
.whattodo__btn {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 107px;
    background-color: #67bc9e;
    outline: none;
    border: none;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    transition: all 0.3s;
}
.whattodo__btn:hover {
    color: #fff;
    background-color: #f39035;
}
.price {
    background-color: #fff;
    padding-top: 21px;
}
.price__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
}
.price__btn {
    padding: 3px 0;
    display: inline-block;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin-left: 10px;
    color: #67bc9e;
    border-bottom: 1px dashed #67bc9e;
    position: relative;
    transition: all 0.3s;
}
.price__btn::after {
    content: url("../images/udalenie-zubov/arrow-up.svg");
    position: absolute;
    right: -18px;
    top: 0;
}
.price__btn:hover {
    color: #67bc9e;
    border-bottom: 1px dashed transparent;
}
.price__list-item {
    border-top: 1px solid #f3f7f6;
}
.price__list-container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__list-name {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}
.price__list-cost {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-right: 44px;
}
.info__inner {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.info__content {
    max-width: 628px;
    padding-top: 35px;
    position: relative;
}
.info__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 5px;
    background-color: #67bc9e;
}
.info__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}
.dentists__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.dentists__content {
    display: flex;
    justify-content: center;
}
.dentists__item {
    max-width: 263px;
    margin-bottom: 50px;
    transition: all 0.3s;
}
.dentists__item:hover {
    transform: translateY(20px);
}
.dentists__item:nth-child(1) {
    margin-right: 15px;
}
.dentists__item:nth-child(2) {
    margin-left: 15px;
}
.dentists__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.dentists__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: -9px;
}

.footer {
    height: 316px;
    background-color: #67bc9e;
    color: #fff;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__item {
    margin-top: 50px;
}
.footer__info {
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;
    max-width: 200px;
}
.footer__nav-link {
    font-size: 14px;
    line-height: 28px;
    transition: all 0.3s;
}
.footer__nav-link:hover {
    color: #beecdc;
}
.footer__worktime,
.footer__address,
.footer__instagram,
.footer__email,
.footer__phone,
.footer__phone-link {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    padding-left: 24px;
    transition: all 0.3s;
}
.footer__phone-link {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 0;
    margin-left: 24px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #fff;
}
.footer__email:hover {
    color: #beecdc;
}
.footer__phone-link:hover {
    border-bottom: 1px dashed transparent;
}
.footer__phone {
    font-size: 20px;
    line-height: 24px;
}
.footer__worktime::before {
    content: url("../images/footer-time-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__address::before {
    content: url("../images/footer-navigation-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__instagram::before {
    content: url("../images/footer-instagram-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__email::before {
    content: url("../images/footer-mail-ico.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.footer__phone::before {
    content: url("../images/footer-phone-ico.svg");
    position: absolute;
    left: 0;
    top: 0;
}
.footer__credit {
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
}
.footer__credit-images img:nth-child(4) {
    transform: translateY(1px);
}
@media (max-width: 1130px) {
    .header__bottom {
        justify-content: center;
    }
    .header__btn {
        display: none;
    }
}
@media (max-width: 1080px) {
    .how__inner {
        justify-content: center;
    }
    .how__img {
        display: none;
    }
}
@media (max-width: 1050px) {
    .header__phone-link {
        display: none;
    }
    .recommendation__inner {
        flex-direction: column;
        align-items: center;
    }
    .info__inner {
        justify-content: center;
    }
    .info__img {
        display: none;
    }
}
@media (max-width: 960px) {
    .header__worktime {
        display: none;
    }
    .header__bottom {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateX(-960px);
        transition: all 0.1s;
        z-index: 10;
    }
    .header__bottom.header__bottom--active {
        transform: translateX(0);
    }
    .menu__list {
        display: block;
        background-color: #f3f7f6;
        text-align: center;
        transition: all 0.1s;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__list-link {
        padding: 15px 0;
        display: block;
        border-bottom: 1px solid #ededed;
    }
    .menu__btn {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 24px;
        border: none;
        outline: none;
        border-top: 2px solid #67bc9e;
        border-bottom: 2px solid #67bc9e;
        background-color: transparent;
        position: relative;
        order: 1;
    }
    .menu__btn::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #67bc9e;
        left: 0;
        top: 9px;
    }
    .slider__arrow {
        display: none;
    }
}
@media (max-width: 900px) {
    .footer {
        height: 800px;
    }
    .footer__inner {
        display: block;
    }
    .footer__item {
        width: 270px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .footer__item:nth-child(1){
        padding-top: 15px;
    }
}
@media (max-width: 800px) {
    .price__list-cost {
        margin-right: 0;
    }
}
@media (max-width: 710px) {
    .logo__img {
        display: none;
    }
    .logo__mobile {
        display: block;
    }
    .header__address {
        display: none;
    }
}
@media (max-width: 650px) {
    .info__text {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .dentists__content {
        flex-direction: column;
        align-items: center;
    }
    .dentists__item:nth-child(1) {
        margin-right: 0;
    }
    .dentists__item:nth-child(2) {
        margin-left: 0;
    }
}
@media (max-width: 400px) {
    .reviews__btn {
        padding: 20px 70px;
    }
    .how__btn {
        padding: 20px 70px;
    }
    .whattodo__btn {
        padding: 20px 70px;
    }
}
@media (max-width: 370px) {
    .price__list-name {
        max-width: 140px;
    }
}
